<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="post">
            <label> usuario <br/> <input type="text" name="username"></label><br/> 
            <label> contraseña <br/> <input type="text" name="password"></label><br/> 
            <input type="submit" value="Entrar">
        </form>
    </body>
</html>